@page "/projects/{Id:int}"
@attribute [Authorize]

@using Microsoft.AspNetCore.Identity
@using hephaestus.Models
@using hephaestus.Services
@using hephaestus.Forms.Core
@inject AuthStateService AuthStateService
@inject InviteService InviteService
@inject ProjectService ProjectService
@inject ToastService ToastService
@inject UserManager<User> UserManager
@inject TicketService TicketService
@inject CommentService CommentService


@if(errorMessage != null)
{
    <h1>@errorMessage</h1>
}
else
{
    @if(project == null)
    {
        <p>Loading ...</p>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-3 p-3" align="center">
                    <div class="card mt-3" style="width: 26rem;">
                        <div class="card-body">
                            <h5 class="card-title">@project.Name</h5>
                            <p class="card-text">@project.Repository.Name</p>
                            <p class="card-text">@project.Repository.Description</p>
                            <a href="@project.Repository.HtmlUrl">View on Github</a>
                        </div>
                    </div>                
                    <p>
                        <button style="width: 10rem;" type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#contributorsModal">
                            Contributors
                        </button>
                        <button style="width: 10rem;" type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#invitesModal">
                            Invites
                        </button>
                    </p>
                </div>
                <div class="col-12 col-md-6 p-3" align="center">
                    @foreach (var ticket in tickets)
                    {
                        <div class="card mt-3" style="width: 24rem;">
                            <div class="card-body">
                                <h5 class="card-title"><button class="btn btn-light" @onclick="@(async e => await SelectTicketWithComments(ticket))" data-toggle="modal" data-target="#commentsModal">@ticket.Name</button></h5>
                                <h6 class="card-text"><span style="font-size: 14px;" class="badge badge-info">@ticket.Status</span></h6>
                                <p class="card-text">@ticket.Description</p>
                                @if (ticket.Assignees != null)
                                {
                                    @foreach (var assignee in ticket.Assignees)
                                    {
                                        <p>
                                            <span style="font-size: 26px;" class="badge badge-light">
                                                @assignee.Assignee.UserName
                                                <img class="mt-6" src="remove.png" alt="Remove" @onclick="@(e => RevokeUserFromTicket(ticket, assignee.Assignee))"/>
                                            </span>
                                        </p>
                                    }
                                }
                                <p>
                                    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#assignUserModal" @onclick="@(e => SelectTicket(ticket))">
                                        Assign New User
                                    </button>
                                 </p>
                            </div>
                        </div>  
                    }
                <button style="width: 20rem;" type="button" class="btn btn-warning mt-3" data-toggle="modal" data-target="#createTicketModal">
                    Create Ticket
                </button>
                </div>
                <div class="col-12 col-md-3 p-3" align="center">
                </div>
            </div>
        </div>
    }
}


<div class="modal fade" id="invitesModal" tabindex="-1" role="dialog" aria-labelledby="invitesModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="invitesModalTitle">Invites</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if(invites == null)
                {
                    <p>Loading ... </p>
                }
                else
                {
                    @foreach(var invite in invites)
                    {
                        <div class="card mt-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@invite.User.UserName</h5>
                                <h6 class="card-title">@invite.Status</h6>
                                <p class="card-text">@invite.Message</p>
                                <button class="btn btn-danger" @onclick="@(async e => await CancelInvite(invite))">Cancel</button>
                            </div>
                        </div> 
                    }
                }

                @if (isOwner)
                {
                    <EditForm Model="@createInviteForm" OnValidSubmit="@HandleValidCreateInviteSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <label for="username">UserName</label>
                            <InputText class="form-control" id="username" placeholder="Enter UserName" @bind-Value="createInviteForm.UserName" />
                            <label for="message">Message for User</label>
                            <InputText class="form-control" id="message" placeholder="Enter Message" @bind-Value="createInviteForm.Message" />
                        </div>
                        <button type="submit" class="btn btn-primary">Send Invite</button>
                    </EditForm>                    
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="contributorsModal" tabindex="-1" role="dialog" aria-labelledby="contributorsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contributorsModalTitle">Contributors</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if(contributors== null)
                {
                    <p>Loading ... </p>
                }
                else
                {
                    foreach (var contributor in contributors)
                    {
                        <div class="card mt-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@contributor.Contributor.UserName</h5>
                                <h6 class="card-title">@contributor.Contributor.Email</h6>
                                @if (isOwner)
                                {
                                    <button class="btn btn-danger" @onclick="@(async e => await RemoveContributor(contributor))">Cancel</button>       
                                }                          
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createTicketModal" tabindex="-1" role="dialog" aria-labelledby="createTicketModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTicketModalTitle">New Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@createTicketForm" OnValidSubmit="@HandleValidCreateTicketSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="name">Ticket`s Name</label>
                        <InputText class="form-control" id="name" placeholder="Enter Tickets`s Name" @bind-Value="createTicketForm.Name" />
                        <label for="description">Ticket`s Description</label>
                        <InputTextArea class="form-control" id="description" placeholder="Enter Ticket`s Description" @bind-Value="createTicketForm.Description" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="assignUserModal" tabindex="-1" role="dialog" aria-labelledby="assignUserModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignUserModalTitle">Assign User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if(contributors== null)
                {
                    <p>Loading ... </p>
                }
                else
                {
                    foreach (var contributor in contributors)
                    {
                        <div class="card mt-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@contributor.Contributor.UserName</h5>
                                <h6 class="card-title">@contributor.Contributor.Email</h6>
                                <button class="btn btn-danger" @onclick="@(async e => await AssignUserToTicket(selectedTicket, contributor.Contributor))">Assign</button>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentsModalTitle">Discussion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@editTicketForm" OnValidSubmit="@HandleValidUpdateTicketSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <label for="ticketName">Ticket`s Name</label>
                        <InputText class="form-control" id="ticketName" placeholder="Enter Tickets`s Name" @bind-Value="editTicketForm.Name" />
                        <label for="ticketStatus">Ticket`s Status</label>
                        <InputSelect class="form-control" id="ticketStatus" placeholder="Enter Tickets`s Name" @bind-Value="editTicketForm.Status">
                            <option value="@Ticket.TicketStatus.Pending">@Ticket.TicketStatus.Pending</option>
                            <option value="@Ticket.TicketStatus.InProgress">@Ticket.TicketStatus.InProgress</option>
                            <option value="@Ticket.TicketStatus.InReview">@Ticket.TicketStatus.InReview</option>
                            <option value="@Ticket.TicketStatus.ReadyForQA">@Ticket.TicketStatus.ReadyForQA</option>
                            <option value="@Ticket.TicketStatus.Done">@Ticket.TicketStatus.Done</option>
                        </InputSelect>
                        <label for="ticketDescription">Ticket`s Description</label>
                        <InputTextArea class="form-control" id="ticketDescription" placeholder="Enter Ticket`s Description" @bind-Value="editTicketForm.Description" />
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </EditForm>

                @if(comments == null)
                {
                    <p>Loading ... </p>
                }
                else
                {
                    foreach (var comment in comments)
                    {
                        <div class="card mt-3" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@comment.User.UserName</h5>
                                <h6 class="card-title">@comment.CreatedAt</h6>
                                <p class="card-text">@comment.Message</p>
                            </div>
                        </div>
                    }
                }
                <EditForm Model="@createCommentForm" OnValidSubmit="@HandleValidCreateCommentSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group mt-3">
                        <label for="commentMessage">Message</label>
                        <InputText class="form-control" id="commentMessage" placeholder="Enter Message" @bind-Value="createCommentForm.Message" />
                    </div>
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@code
{
    [Parameter]
    public int Id { get; set; }
    private string errorMessage = null;

    private Project project;
    private User user;
    private List<Invite> invites;
    private List<UserProject> contributors;
    private List<Ticket> tickets;
    private List<Comment> comments;
    private bool isOwner;
    
    private CreateInviteForm createInviteForm = new CreateInviteForm();
    private CreateTicketForm createTicketForm = new CreateTicketForm();
    private EditTicketForm editTicketForm = new EditTicketForm();
    private CreateCommentForm createCommentForm = new CreateCommentForm();

    private Ticket selectedTicket;

    protected override async Task OnInitializedAsync()
    {
        project = await ProjectService.FindById(Id);
        if(project == null)
        {
            errorMessage = "Project does not exist";
            return;
        }

        user = await AuthStateService.GetUser();
        if(project.Owner.Id != user.Id && !(await ProjectService.IsContributor(project, user)))
        {
            errorMessage = "Access denied";
            return;
        }

        if (project.Owner.Id == user.Id)
        {
            isOwner = true;
        }

        invites = project.Invites;
        contributors = project.Contributors;
        tickets = project.Tickets;
    }

    private async Task HandleValidCreateInviteSubmit()
    {
        var success = await InviteService.CreateInvite(project, createInviteForm.UserName, createInviteForm.Message);
        if(success)
        {
            StateHasChanged();
        }
    }

    private async Task CancelInvite(Invite invite)
    {
        await InviteService.DeleteInvite(invite);
        StateHasChanged();
    }

    private async Task RemoveContributor(UserProject contributor)
    {
        await ProjectService.DeleteContributor(contributor);
        StateHasChanged();
    }

    private async Task HandleValidCreateTicketSubmit()
    {
        var ticket = await TicketService.CreateTicket(project, createTicketForm.Name, createTicketForm.Description);
        StateHasChanged();
    }

    private async Task AssignUserToTicket(Ticket ticket, User user)
    {
        var success = await TicketService.AssignUser(ticket, user);
        if (success)
        {
            StateHasChanged();
        }
    }

    private void SelectTicket(Ticket ticket)
    {
        selectedTicket = ticket;
        editTicketForm.Name = ticket.Name;
        editTicketForm.Description = ticket.Description;
        editTicketForm.Status = ticket.Status;
    }
    
    private async Task SelectTicketWithComments(Ticket ticket)
    {
        SelectTicket(ticket);
        comments = await CommentService.FindByTicket(ticket);
    }

    private async Task RevokeUserFromTicket(Ticket ticket, User user)
    {
        var success = await TicketService.RevokeUser(ticket, user);
        if (success)
        {
            StateHasChanged();
        }
    }

    private async Task HandleValidUpdateTicketSubmit()
    {
        var success = await TicketService.UpdateTicket(selectedTicket, editTicketForm.Name, editTicketForm.Description, editTicketForm.Status);
        if (success)
        {
            StateHasChanged();
        }
    }

    private async Task HandleValidCreateCommentSubmit()
    {
        var comment = await CommentService.CreateComment(selectedTicket, user, createCommentForm.Message);
        comments.Add(comment);
        StateHasChanged();
    }
}
